{% extends 'base.html' %}
{% block content %}

<main>
    <!-- Plant Name -->
    <h1>{{ plant['name'] }}</h1>

    <!-- Plant Photo -->
    <img src="{{ plant['photo_url'] }}" alt="Photo of {{ plant['name'] }}">

    <!-- Plant Information Section -->
    <section id="info">
        <h3>Info</h3>

        <strong>Date Planted</strong>
        {{ plant['date_planted'] }}
        <br><br>

        <strong>Variety</strong>
        {{ plant['variety'] }}
        <br><br>

        <!-- Edit Link -->
        <a class="nav" href="{{ url_for('edit', plant_id=plant['_id']) }}">Edit Plant</a><br><br>
    </section>

    <!-- Harvest Form -->
    <form action="{{ url_for('harvest', plant_id=plant['_id']) }}" method="POST">
        <fieldset>
            <legend>Harvested:</legend>

            <label>
                Amount harvested
                <input type="text" name="quantity" placeholder="e.g. 2 tomatoes">
            </label>

            <label>
                Date harvested
                <input type="date" name="date">
            </label>

            <input type="submit" class="submit" value="Harvest!">
        </fieldset>
    </form>

    <!-- Harvest History -->
    <section id="harvest-history">
        <h3>Harvest History</h3>

        <ul>
            {% for harvest in harvests %}
                <li>{{ harvest['date'] }}: Harvested {{ harvest['quantity'] }}</li>
            {% else %}
                <li>No harvests yet!</li>
            {% endfor %}
        </ul>
    </section>

    <!-- Delete Form -->
    <form action="{{ url_for('delete', plant_id=plant['_id']) }}" method="POST" id="delete-form" onsubmit="return confirm_delete()">
        <input type="submit" class="nav" value="Delete Plant">
    </form>
</main>

{% endblock content %}
